<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BANK-IQRA</title>
  <link rel="icon" type="image/png" href="../image/asuransi.png"/>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/font-awesome.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <script src="../../js/script.js" defer></script>
</head>
<body>
<header th:fragment="header">
  <nav class="navbar">
    <div class="logo">
      <a href="#">BankIqra</a>
    </div>
    <ul class="navbar-menu">
      <li><a th:href="@{/home}">Home</a></li>
    <div class="navbar-toggle" id="navbar-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>
<main>
</main>
<footer th:fragment="footer">
  Copyrights &copy; 2021
  <span class="author"></span>
  All rights reserved.
</footer>
</body>
</html>