name: Semgrep

on:
  workflow_dispatch:

  push:
    branches:
      - main
      - master

  pull_request:
    branches:
      - main
      - master

  schedule:
    - cron: "30 19 * * *"

jobs:
  semgrep:
    name: semgrep-ci
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

    container:
      image: semgrep/semgrep

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Semgrep
        run: semgrep ci
